celery==4.3.0
eventlet==0.19.0
flask==0.12.2
flask_script==2.0.6
flask_migrate==2.1.1
flask_sqlalchemy==2.3.2
flask_marshmallow==0.8.0
marshmallow==2.14.0
marshmallow-sqlalchemy==0.13.2
flake8==2.5.4
flask-cors
flask-socketio==3.3.2
PyMySQL==0.9.3
redis==4.4.4
Pillow
numpy>=1.16.2
pytest==4.5.0
